*{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}


img{
    height: 220px;
    width: 150px;
}
body{

    background-color: rgb(255, 183, 174);

}

article{

    background-color: aliceblue;
    border-radius: 8px;
    margin-bottom: 10px ;

}

h3{

    color: rgb(252, 33, 26);

}

h2{

    color: rgb(255, 60, 0);

}